* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #050505;
}

p {
    margin: 0;
    font-size: 12px;
    color: #706f6f;
}

body {
    margin: 0;
    padding: 0;
    
    margin-top: 25px;
}

.wrapper {
    padding: 20px;
    
    width: 612px;
    height: 910px;
    
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    
    grid-row-gap: 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileimg {
    margin-left: -14px;
}

.row {
    min-height: auto;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.align1 {
    grid-column: 2 / span 4;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.align2 {
    height: 60px;
}

.span {
    grid-column: 4 / span 5;
}

.justify {
    text-align: justify;
}

.section3 {
    display: grid;
    grid-template-columns: 1fr;
}

.innerGrid2 {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1px;
}

.details {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    border: 2px solid red;
}

.span2 {
    height: 30px;
    grid-column: 1 / span 3;
    
}

.line {
    border-bottom: 1px solid #706f6f;
}

.section4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.8em;
}

.fontweight {
    font-size: 10px;
}


.align4 {
}

.innerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1px;
}

.details1 {
    margin-top: 10px;
    margin-right: 20px;
    height: auto;
}

.details2 {
    margin-top: 10px;
    margin-right: 8px;
    height: auto;
}
.parasmall {
    font-size: 10px;
}

.allcaps {
    text-transform: uppercase;
}

.circles {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    
    border-radius: 50%;
    border: 2px solid #050505;
    background-color: #050505;
}

.circleoutline {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    
    border-radius: 50%;
    border: 1.5px solid #050505;
}

.flex {
    display: flex;
    flex-direction: row;
}

.footer {
    margin: 0 auto;
    width: 612px;
    height: 20px;
    
    border: 1px solid #050505;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #050505;
}






